{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Nb places théroques</th>
                <th scope="col">Nb places réservées</th>
                <th scope="col">Nb places restantes</th>
                <th scope="col">Liste des stagiaires</th>
                <th scope="col">Détails programme</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
